<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    @await Html.PartialAsync("HeaderPartial")
    <!-- Top News Start-->
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div style="width: 60%; min-height: 800px">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("SidebarPartial")
            </div>

        </div>
</div>
    <!-- Top News End-->
    @await Html.PartialAsync("FooterPartial")

    @await Html.PartialAsync("ScriptsPartial")

</body>

</html>