<!-- Top Bar Start -->
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tb-contact">
                    <p><i class="fas fa-envelope"></i>@Config.SiteEmail</p>
                    <p><i class="fas fa-phone-alt"></i>+012 345 6789</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tb-menu">
                    <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                    <a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                </div>
            </div>            
        </div>
    </div>
</div>
<!-- Top Bar Start -->
<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4">
                <div class="b-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->
<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link">Главная</a>
                    <a asp-area="" asp-controller="Articles" asp-action="Index" class="nav-item nav-link">Статьи</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contacts" class="nav-item nav-link">Контакты</a>
                    <!-- чтобы удобнее было !!!!!УДАЛИТЬ!!!!!-->
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-item nav-link">Админка</a>
                </div>

                <div class="social ml-auto">
                    <a href="https://twitter.com/?lang=ru"><i class="fab fa-twitter"></i></a>
                    <a href="https://ru-ru.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->