@{
    ViewData["Title"] = "АвтоНовости";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Сайт посвящен новостям в мире машинок <a href="https://www.f1news.ru/" target="_b">Почитать информацию о новых гонках F1 можно тут</a>.</p>
</div>
