@model InfoField
@{
    string strTitle = "Редактировать Страницу";
    ViewBag.Title = strTitle;
}

<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>

<div style="width: 100%">
    <h2>@strTitle</h2>
    <div >
        <form asp-area="Admin" asp-controller="InfoFields" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreate" />
            <input type="hidden" asp-for="Key" />

            <div asp-validation-summary="All"></div>
            <div class="auth-model">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="auth-model">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" style="width: 90%; height: 300px"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="auth-model">
                <label asp-for="MetaTitle"></label>
                <input asp-for="MetaTitle" />
                <span asp-validation-for="MetaTitle"></span>
            </div>
            <div class="auth-model">
                <label asp-for="MetaDescription"></label>
                <input asp-for="MetaDescription" />
                <span asp-validation-for="MetaDescription"></span>
            </div>
            <div class="auth-model">
                <label asp-for="MetaKeywords"></label>
                <input asp-for="MetaKeywords" />
                <span asp-validation-for="MetaKeywords"></span>
            </div>
            <input type="submit" value="Сохранить"  style="margin-bottom: 10px" />
        </form>
    </div>
</div>


<script>
    ClassicEditor
        .create( document.querySelector( '#@Html.IdFor(x => x.Text)' ) )
        .catch( error => {
            console.error( error );
        } );
</script>